body{
    background-color: grey;

}
h1{
    color: red;
}
    .big{
        background-color: yellow;
        width: 500px;
        height: 300px;
    }
        .small{
            background-color: green;
            width: 200px;
            height: 100px;
        }